.bg-nav{
    background-color: rgb(146, 168, 215);
}

.bg-main{
    background-image:none;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-color{
    background-color: rgb(86, 61, 124);
    width: 260px;
    height: 80px;
    border: none;
    border-radius: 20px;
}
.position-page{
    margin-top: 20vh;
}
.title{
    font-family:'Times New Roman', Times, serif;
    color:rgb(86, 61, 124) ;
}